<ion-header>
  <ion-toolbar>
    <ion-title>Convertitore</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label> CONVERTITORE TEMPERATURA </ion-label>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"> C </ion-label>
              <ion-input type="number" [(ngModel)]="c" (keyup)="convertitore('c')">  </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating"> F </ion-label>
              <ion-input type="number" [(ngModel)]="f" (keyup)="convertitore ('f')"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-label> CONVERTITORE DISTANZA </ion-label>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating"> KM </ion-label>
              <ion-input type="number" [(ngModel)]="km" (keyup)="convertitore('km')">  </ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating"> MI </ion-label>
              <ion-input type="number" [(ngModel)]="mi" (keyup)="convertitore ('mi')"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>


     

         

     
          


