.set-grid {
  max-width: 320px;
}

.logo-center {
margin-top: 15px;
padding-left: 60px;
}

.welcome-row {

margin-bottom: 50px;
margin-top: 60px;
margin-left: 50px;
margin-right: 50px;
padding-left: 60px;
}



.insert {
font-size: 12px;
margin-top: 1%;
color:lightslategrey;
}


ion-icon {
color:rgb(21, 4, 107);
}

.button {

color: rgb(255, 255, 255);
border-style: initial;
align-items:flex-end;
padding-left: 220px;
}