<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [FormGroup]="loginForm">
<div>
  <ion-grid class="set-grid"> 
    <ion-row class="logo-center">
      <ion-col class = "col-center"> 
        <img src="/assets/icon/devskill2.png">
      </ion-col>
    </ion-row>
    
    <ion-row class="welcome-row">
      <ion-col class="col_center">
        <h6 id="titolo"> Benvenuti nella pagina di login </h6>
      </ion-col>
    </ion-row>

  
    <ion-row class="item">
      <ion-col>
      <ion-item >
        <ion-label for="username" position="floating">Inserisci username</ion-label>
        <ion-input placeholder="username" id="username" name="username" ></ion-input>
        <ion-icon name="mail" slot="end"></ion-icon>
      </ion-item>
      
      </ion-col>
    </ion-row>
    
    <ion-row class="item">
      <ion-col>
      <ion-item >
        <ion-label for="pass" position="floating">Inserisci password</ion-label>
        <ion-input placeholder="password" type="password" id="pass" name="pass"></ion-input>
        <ion-icon name="lock-closed" slot="end"></ion-icon>
      </ion-item>
    
      </ion-col>
    </ion-row>

    <app-button-login indirizzo="/registrazione" testo="vai a registrazione"> </app-button-login>

  </ion-grid>
</div>
</form>
</ion-content>

