<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div>
  <ion-grid class="set-grid">
    <ion-row class="logo-center">
      <ion-col class = "col-center">
        <img src="/assets/icon/devskill2.png">
      </ion-col>
    </ion-row>
   

    <ion-row class="welcome-row">
      <ion-col class="col_center">
        <h6 id="titolo"> Benvenuti </h6>
      </ion-col>
    </ion-row>

  <form>
    <ion-row class="item">
      <ion-col>
      <ion-item >
        <ion-label for="user" position="stacked">Username</ion-label>
        <ion-input id="user" name="username"></ion-input>
        <ion-icon name="mail" slot="end"></ion-icon>
      </ion-item>
      <p class="insert">Inserisci username</p>
      </ion-col>
    </ion-row>
    
    <ion-row class="item">
      <ion-col>
      <ion-item >
        <ion-label for="pass" position="stacked">Password</ion-label>
        <ion-input type="password" id="pass" name="pass"></ion-input>
        <ion-icon name="lock-closed" slot="end"></ion-icon>
      </ion-item>
      <p class="insert">Inserisci password</p>
      </ion-col>
    </ion-row>

  <div class="col_right">
    <ion-row>
      <ion-col>
        <ion-button class="button"> LOGIN</ion-button>
      </ion-col>
    </ion-row>

  </div>
  </form>  
  </ion-grid>

  

</div>
</ion-content>

